:root {
    --primary-color: #005FA6;
    --secondary-color: #A6690F;
    --dark-color: #292929;
    --white-color: #ffffff;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 0 1rem;
}

a {
    color: var(--white-color);
}

a:hover {
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.brandFont {
    font-family: 'Montserrat', sans-serif;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bsIcon {
    color: purple;
}

.jsIcon {
    color: #e9e90e;
}

.htmlIcon {
    color: orangered;
}

.cssIcon {
    color: #008cbb;
}

.checklist>li i {
    color: var(--primary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.code-title {
    margin-top: 2rem;
}

.btnBgc {
    background-color: var(--secondary-color);
}